.cap2Corazon{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    width: 100%;
    height: 85vh;
    
}

.pantalla {
    width: 910px;
    height: 500px;
    overflow: hidden;
   
}

.cuartoTakeshi {
    position: absolute;
    width: 880px;
}

.takeshi {
    position: absolute;
    width: 270px;
    left: 140px;
    top: 65px;
    border-radius: 10px;
    filter: drop-shadow(0 0 6px #c7f12e);
}

.activar-animacion {
  animation: desplazarYDesaparecer 8s ease-in-out 6s forwards;
  pointer-events: none;
}

@keyframes desplazarYDesaparecer {
      0% {
        transform: translateX(0);
      }

      100% {
        transform: translateX(-490px);
      }
    }

.puerta {
    position: absolute;
    width: 125px;
    left: 16px;
    top: 40px ;
    color: white;
    border-radius: 10px;
    filter: drop-shadow(0 0 10px  #c7f12e);
}



.cuadroDragon {
    position: absolute;
    width: 170px;
    top: 65px;
    left: 210px;
    color: white;
    border-radius: 10px;
    filter: drop-shadow(0 0 10px  #c7f12e);
}

.cuadroSamurai {
    position: absolute;
    width: 155px;
    top: 120px;
    left: 465px;
    color: white;
    border-radius: 10px;
    filter: drop-shadow(0 0 10px #c7f12e);
}

.lampara {
    position: absolute;
    width: 300px;
    left: 255px;
    color: white;
    border-radius: 10px;
    filter: drop-shadow(0 0 10px  #c7f12e);
}

.maceta {
    position: absolute;
    width: 295px;
    top: 203px;
    left: 160px;
    color: white;
    border-radius: 10px;
    filter: drop-shadow(0 0 10px #c7f12e);
}

.botonesSa{
    position: relative;
}

.botonesSa1{
    position: absolute;
    top: 45px;
    left: 70%;
}

.botonesSa2{
    position: absolute;
    top: 45px;
    left: 80%;
}
