/* .screen {
    width: 1000px;
    height: 408px;
    position: relative;
    overflow: hidden;
}

.fondo {
    position: absolute;
    top: 0;
    left: -30px;
}

.nube1 {
    position: absolute;
    top: 90px;
    left: 45px;
    animation: nube1 50s linear;
}

.nube2 {
    position: absolute;
    left: 650px;
    top: 10px;
    animation: nube2 50s linear;

}

.osoN {
    position: absolute;
    left: 450px;
    width: 350px;
    top: -1px;
}

.pinguinoN {
    position: absolute;
    top: 200px;
    left: 140px;
}

.hielo {
    position: absolute;
    top: 340px;
    left: 100px;
}

.pezM {
    position: absolute;
    left: 270px;
    top: 340px;
}

@keyframes nube2 {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-650px);
    }

    100% {
        transform: translateX(0);
    }

}

@keyframes nube1 {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(650px);
    }

    100% {
        transform: translateX(0);
    }

} */